.cell {
    box-sizing: content-box;
    border-radius: 0px;
    width: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid #BB8B8E;
    background-color: #F9F2DC;
    color: #240519;
}

[data-row='0'],
[data-row='3'],
[data-row='6']{
    border-top: 2px solid #AC7275;
}

[data-row='8']{
    border-bottom: 2px solid #AC7275;
}

[data-col='0'], 
[data-col='3'], 
[data-col='6'] {
    border-left: 2px solid #AC7275;
}

[data-col='8'] {
    border-right: 2px solid #AC7275;
}

.sudoku-grid {
    height: var(--length-side);
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 0;
  }
  
  .button-container {
    width: var(--length-side);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.button-container button {
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #BB8B8E;
    color: #F9F2DC;
    border: none;
    border-radius: 5px;
  }
  
  .clear-button {
    margin-right: 40px;
  }