.button-container button {
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #BB8B8E;
    color: #F9F2DC;
    border: none;
    border-radius: 5px;
  }
  
  .clear-button {
    margin-right: 40px;
  }